/* font-family: 'Crete Round', serif;
font-family: 'Ubuntu', sans-serif; */

body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Crete Round', serif;
}

.text-color {
    color: rgb(238, 103, 54);
}

#top-sec .sec-one {
    display: flex;

}

#top-sec .sec-one-text {
    width: 60%;
    margin: 70px 70px;
}

#top-sec .sec-one-img {
    width: 40%;
}

#top-sec .sec-one-img img {
    width: 80%;
    margin-top: 100px;
}

#top-sec .head-txt {
    border-left: 3px solid orangered;
    font-size: 30px;
}

#top-sec .head-txt h1 {
    margin-left: 20px;
}

.button {
    text-decoration: none;
    display: inline-block;
    background-color: rgb(248, 93, 21);
    border-radius: 3px;
    padding: 15px 20px;
    font-weight: bold;
    color: white;
}

#sec-two {
    margin: 0 70px;
}

#sec-two h1 {
    text-align: center;
    font-size: 35px;
    color: rgb(3, 1, 138);
}

#sec-two .sec-two-flex {
    display: flex;
}

#sec-two .sec-two-itm {
    width: 33%;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
}

#sec-two .sec-two-itm img {
    width: 100px;
}

#sec-three {
    margin-top: 50px;
}

#sec-three .sec-three-flex {
    display: flex;
}



#sec-three .sec-three-img {
    width: 40%;
    margin: 0 70px;
}

#sec-three .sec-three-img img {
    width: 70%;
}

#sec-three .sec-three-itm {
    width: 60%;
    margin-right: 70px
}

#sec-four .sec-four-flex {
    display: flex;
}


#sec-four .sec-four-flex .sec-four-itm {
    width: 60%;
    margin: 70px 70px;
}

#sec-four .sec-four-flex .sec-four-img {
    width: 40%x;
}

#sec-four .sec-four-flex .sec-four-img img {
    width: 250px;
    margin: 0 70px;
}

#sec-five .trust-pilot img {
    width: 200px;
}

.trust-pilot {
    text-align: center;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
}

footer p {
    color: rgb(212, 211, 211);
}

footer .fot-two {
    color: red;
}